<!--Based on [Flaskr](https://github.com/pallets/flask/blob/master/examples/tutorial/flaskr/templates/base.html)-->
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
          <h1><a href="{{ url_for('blog.blog_list') }}">My Blog</a></h1>
          <ul>

          </ul>
        </nav>
        <section class="content">
          <header>
            {% block header %}

            {% endblock %}
          </header>
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}

          {% endblock %}
        </section>
    </body>
</html>